@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}
.navbar a {
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
}

.menu-horizontal > li .active,
.dropdown-content > li .active {
  background-color: transparent !important;
  color: #d88531 !important;
}

.navbar a:hover {
  background-color: transparent !important;
  color: #d88531 !important;
  outline: none;
  outline-offset: 0;
}
